PORT=4001
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=cima_sport
JWT_SECRET=3sx2lRHEang8XtFRsXYZpONZy7RZ/HUrFg+L0jiXxMU=
JWT_EXPIRES_IN=8h
CORS_ORIGIN=http://localhost:5175
ALLOW_DEMO_RESET=true
